<!-- app/templates/admin/outfit/outfits.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{title}}</h1>
        {% if outfits %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> Sexo </th>
                  <th width="20%"> Foto </th>
                  <th width="30%"> Descripción </th>
                  <th width="10%"> Publicar </th>
                  <th width="15%"> Editar </th>
                  <th width="15%"> Borrar </th>
                </tr>
              </thead>
              <tbody>
              {% for outfit in outfits %}
                <tr>
                  <td> {{ outfit.sex }} </td>
                  <td> {{ outfit.photo }} </td>
                  <td> {{ outfit.description }} </td>
                  <td> {{ outfit.is_public }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_outfit', id=outfit.id) }}">
                      <i class="fa fa-pencil"></i> Editar 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_outfit', id=outfit.id) }}">
                      <i class="fa fa-trash"></i> Borrar 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No hay vestuarios agregados. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_outfit') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Añadir Vestuario
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
