<!-- app/templates/admin/vestuarios/vestuarios.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Vestuarios{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Vestuarios</h1>
        {% if vestuarios %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Sexo </th>
                  <th width="40%"> Foto </th>
                  <th width="15%"> Genero </th>
                  <th width="15%"> Usuario </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for vestuario in vestuarios %}
                <tr>
                  <td> {{ vestuario.sexo }} </td>
                  <td> {{ vestuario.foto }} </td>
                  <td> aaaa </td>
                  <td> aaaa </td>
                  <td>
                    
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_vestuarios', id=vestuarios.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_vestuarios', id=vestuarios.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No vestuarios have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_vestuarios') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Vestuario
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}